@model IEnumerable<VideoRental.Models.Customer>



    <h2>Customers</h2>

    <a href="Customer/New" class="btn btn-info  active" role="button" aria-pressed="true">New Customer</a>
    <table class="table">
        <thead>
            <tr>

                <th scope="col">CustomerID</th>
                <th scope="col">CustomerName</th>
                <th scope="col">MemberShip Type</th>

                <th scope="col">Discount Rate</th>
            </tr>
        </thead>
        <tbody>
          
            @foreach (var c in Model)
            {
            <tr>

                <td>@c.Id</td>
                <td>@Html.ActionLink(@c.Name, $"Edit/{c.Id}") </td>
                <td>@c.MembershipType.Name</td>

                <td>@c.MembershipType.DiscountRate%</td>


            </tr>
            }
        </tbody>
    </table>
